<?xml version='1.0' encoding='utf-8'?>
<widget id="com.oshnic.gmsys" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>OSPLGmSys</name>
    <description>
        Oshnic's Godown Management System
    </description>
    <author email="info@osindia.in" href="http://osindia.in">
        Team Oshnic 
    </author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />
    <engine name="browser" spec="~5.0.1" />
    <engine name="android" spec="~6.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
</widget>
